section{
    height: 100vh;
    background-image: url("/assets/images/assignment_bgimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

section > h1{
    font-weight: bold;
    color: white;
    font-size: 48px;

    position: absolute;
    right: 631px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    position: relative;
}

.box{
    width: 900px;
    height: 50px;
    background: linear-gradient(180deg,#CB73CD,white);
    border-radius: 45px;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-content{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.box-content >button{
    width: 200px;
    background-color:black ;
    margin-left: 370px;
    border-radius: 45px;

}

.box-content >button >a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.box-content >img{
    width: 30px;
    aspect-ratio: 1/1;
    margin-right: 20px;
}


/*-----------------------------------------desktop size-----------------------------------------------e*/

@media all and (max-width: 1024px) {

}

/*-----------------------------------------tablet size-----------------------------------------------e*/
@media all and (max-width: 768px) {

}

/*-----------------------------------------mobile size-----------------------------------------------e*/
@media all and (max-width: 320px) {

}
