#project_section{
    width: 100vw;
    height: 100vh;
    background-color: #E5E1E1;
    position: relative;
}

.bg-circle{
    width: 1100px;
    height: 100vh;
    background: linear-gradient(0deg,#8207BB, #CB73CD);

    position: absolute;
    top: 0;
    right: 0;
    bottom:0;
}

#project_section > h1{
    font-weight: bold;
    color: black;
    font-size: 48px;

    position: absolute;
    right: 582px;
}

#project_section > h3{
    font-weight: bold;
    color: #561456;
    font-size: 36px;

    position: absolute;
    top: 100px;
    right: 445px;
}

.project-image{
    width: 300px;
    height: 350px;
    background:linear-gradient(180deg , #561456 , transparent);
    display: flex;
    justify-content: center;

    position: absolute;
    left: 200px;
    top: 150px;

}

#project_section > p {
    text-align: justify;
    margin-right: 200px;
    margin-left: 650px;
    font-weight: normal;
    color: white;

    position: absolute;
    top: 205px;
}

.project-image > img{
    padding: 60px;
}

#project_section > button{
    width: 300px;
    height:35px ;
    background-color: #ffffff;
    border-radius: 45px;

    position: absolute;
    right: 380px;
    bottom: 150px;
}

#project_section>button>a {
    font-weight: bold;
    color: black;
    border-radius: 45px;
}

/*-----------------------------------------desktop size-----------------------------------------------e*/

@media all and (max-width: 1024px) {
    .bg-circle{
        width: 716px;
    }

    #project_section > h1 {
        right: 385px;
    }

    .project-image {
        left: 85px;
    }

    #project_section > h3 {
        right: 254px;
    }

    #project_section > p {
        margin-right: 66px;
        margin-left: 442px;
        top: 180px;
    }

    #project_section > button {
        right: 168px;
        bottom: 97px;
    }
}


/*-----------------------------------------tablet size-----------------------------------------------e*/
@media all and (max-width: 768px) {
    .bg-circle{
        width: 550px;
    }

    #project_section > h1 {
        right: 255px;
    }

    .project-image {
        width: 216px;
        height: 276px;
        top: 193px;
        left: 43px;
    }

    #project_section > h3 {
        right: 210px;
    }

    #project_section > p {
        margin-right: 40px;
        margin-left: 303px;
        font-size: 14px;
    }

    #project_section > button {
        right: 124px;
        bottom: 115px;
    }
}

/*-----------------------------------------mobile size-----------------------------------------------e*/
@media all and (max-width: 426px) {
    #project_section>h1 {
        font-size: 31px;
        right: 135px;
    }
    .project-image {
        width: 139px;
        height: 212px;
        top: 73px;
        left: 139px;
    }

    #project_section>h3 {
        font-weight: bold;
        color: #561456;
        font-size: 30px;
        position: absolute;
        top: 224px;
        right: 147px;
    }

    #project_section>p {
        margin-right: 14px;
        margin-left: 10px;
        font-size: 14px;
        top: 285px;
    }

    #project_section>button {
        right: 62px;
        bottom: 13px;
    }


}
@media all and (max-width: 376px) {
    #project_section>h1 {
        font-size: 31px;
        right: 108px;
    }
    .project-image {
        width: 139px;
        height: 212px;
        top: 75px;
        left: 118px;
    }
    #project_section>h3 {
        font-weight: bold;
        color: #561456;
        font-size: 30px;
        position: absolute;
        top: 224px;
        right: 118px;
    }
    #project_section>button {
        right: 39px;
        bottom: 26px;
    }

}

@media all and (max-width: 321px) {
    #project_section>h1 {
        font-size: 25px;
        right: 94px;
    }
    .project-image {
        width: 115px;
        height: 196px;
        top: 60px;
        left: 103px;
    }
    #project_section>h3 {
        font-weight: bold;
        color: #561456;
        font-size: 25px;
        position: absolute;
        top: 203px;
        right: 101px;
    }
    #project_section>p {
        margin-right: 8px;
        margin-left: 7px;
        font-size: 13px;
        top: 258px;
    }
    #project_section>button {
        right: 64px;
        bottom: 34px;
        width: 200px;
        height: 30px;
    }
    .bg-circle {
        height: 590px;
    }
}