
section{
    height: 100vh;
    background-image: url("/assets/images/homepage_bgimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

main{
    position: relative;
}

.social-headings{
    width: 400px;
    height: 60px;
    background-color: #8800C7;
    border-bottom-left-radius: 45px;

    position: absolute;
    right: 0;
    top: 0;

}
/*mistake*/

.social2{
    display: inline-block;
    margin-left: 30px;
}

.text1{
    width: 800px;
    height: 350px;
    background-color: white ;
    opacity: 70%;
    border-radius: 45px;

    position: absolute;
    right: 50px;
    bottom: 150px;
}

.text1  h3 {
    margin-top: 65px;
    font-weight: bold;
    font-size: 30px;
    color: black;
}

.text1 h1 {
    margin-top: 33px;
    margin-bottom: 8px;
    font-size: 50px;
    font-weight: bold;
    color: #8800C7;
}

.text1 h4 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.text1 h5 {
    margin-top: 20px;
}

.text1 h5 a {
    font-size: 20px;
    color: black;
}

.text2{
    text-align: right;
    margin-right: 50px;
}


/*-----------------------------------------media query-----------------------------------------------e*/


/*-----------------------------------------1401 size-----------------------------------------------e*/
@media all and (max-width: 1401px) {

}
/*-----------------------------------------desktop size-----------------------------------------------e*/

@media all and (max-width: 1024px) {
    .text1{
        width: 726px;
    }

}


/*-----------------------------------------tablet size-----------------------------------------------e*/
@media all and (max-width: 768px) {

    .social-headings{
        width: 317px;
        height: 49px;
    }

    .social-headings > a >img{
        width: 40px;
        height: 40px;
    }

    .text1{
        width: 526px;
        height: 290px;
    }

    .text1 h1{
        margin-top: 26px;
        font-size: 35px;
    }

    .text1  h3{
        font-size: 26px;
    }

    .text1 h4{
        font-size: 26px;
    }

}

/*-----------------------------------------mobile size-----------------------------------------------e*/
@media all and (max-width: 426px) {
    section{
        height: 100vh;
        background-image: url("/assets/images/homepage_bgimage.jpg");
        background-size: 100% 70%;
        background-repeat: no-repeat;
        background-position: top;
        background-color: #8800C7;
        background-clip: content-box;
        position: relative;
    }

    .text1{
        width: 377px;
        position: absolute;
        right: 25px;
        bottom: 60px;
    }

    .text2{
        margin-right: 22px;
    }

    .text1 > h1 {
        font-size: 26px;
    }

    .text1 > h3 {
        font-size: 24px;
    }

    .text1 > h4 {
        font-size: 26px;
    }
}


@media all and (max-width: 375px) {

}


@media all and (max-width: 320px) {

    .social-headings{
        border-bottom-left-radius: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }

    /*.social2{*/
    /*    margin-right: 5px;*/
    /*}*/

}