#services_section{
    height: 100vh;
    background-color: #561456;
    position: relative;

    z-index: 1;
}

.bg-div{
    width: 100vw;
    height: 400px;
    background-image: url("/assets/images/services_bgimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 35%;
    z-index: 2;

    position: relative;
}

#services_section > h1{
    font-weight: bold;
    font-size: 48px;
    color: black;

    position: absolute;
    top: 20px;
    left: 635px;

    z-index:3;
}

.services{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    bottom: 110px;
    left: 195px;
    z-index: 3;
}

.box-service1, .box-service2, .box-service3{
    width: 300px;
    height: 400px;
    background: linear-gradient(180deg,#CB73CD,white);
    border-radius: 45px;


    z-index: 4;
}

.box-service1{
    margin-right:100px ;

}

.box-service2{
    margin-right: 100px;
}

.box-service1>img{
    width: 70px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 20px;
    left:120px;
}

.box-service2>img{
    width: 70px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 20px;
    left:512px;
}

.box-service3>img{
    width: 70px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 20px;
    right: 122px;
}

.box-service1 > p{
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 130px;
    text-align: justify;
    font-weight: bold;
    color: black;
}

.box-service2 > p{
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 130px;
    text-align: justify;
    font-weight: bold;
    color: black;
}

.box-service3 > p{
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 130px;
    text-align: justify;
    font-weight: bold;
    color: black;
}

/*-----------------------------------------desktop size-----------------------------------------------e*/

@media all and (max-width: 1024px) {

    #services_section > h1 {
        left: 413px;
    }

    .box-service1, .box-service2, .box-service3{
        width: 222px;
        height: 333px;
    }

    .box-service1 > img {
        width: 60px;
        left: 77px;
    }

    .box-service2 > img {
        width: 60px;
        left: 405px;
    }

    .box-service3 > img {
        width: 60px;
        right: 83px;
    }

    .box-service1 > p {
        font-size: 14px;
        margin-top: 105px;
    }

    .box-service2 > p {
        font-size: 14px;
        margin-top: 105px;
    }

    .box-service3 > p {
        font-size: 14px;
        margin-top: 105px;
    }

    .services{
        left: 78px;
    }

}

/*-----------------------------------------tablet size-----------------------------------------------e*/
@media all and (max-width: 768px) {

    #services_section> h1 {
        left: 290px;
    }

    .services {
        left: 26px;
    }

    .box-service1, .box-service2, .box-service3{
        width: 209px;
    }

    .box-service1{
        margin-right: 40px;
    }

    .box-service2{
        margin-right: 40px;
    }

    .box-service2 > img {
        left: 322px;
    }

    .box-service3 > img {
        right: 74px;
    }
}

/*-----------------------------------------mobile size-----------------------------------------------e*/
@media all and (max-width: 426px) {

    #services_section{
        height: 1220px;
        width: 100vw;
    }

    #services_section> h1 {
        left: 143px;
        font-size: 35px;
        top: 71px;
    }
    .services {
        display: grid;
        left: 96px;
        top: 164px;
    }
    .box-service1 {

        margin-bottom: 15px;
    }
    .box-service2 {
        margin-bottom: 15px;

    }

    .box-service2>img {
        left: 74px;
        top: 363px;
    }
    .box-service3 > img {
        right: 112px;
        top: 715px;
    }
}

@media all and (max-width: 376px) {
    #services_section > h1 {
        left: 123px;
    }

    .services{
        left: 79px;
    }
}

@media all and (max-width: 321px) {

    #services_section > h1 {
        left: 100px;
    }

    .services{
        left: 56px;
    }
}