#contactme_section{
    height: 100vh;
    background: linear-gradient(90deg,#ffffff,#EFD5F0,#CB73CD);
    position: relative;

    z-index: 1;
}

.vertical_rule{
    content: "";
    width: 3px; /* Set the width of the vertical rule */
    height: 100%; /* Make the rule the same height as its container */
    background-color:#561456; /* Set the color of the rule */
    margin: 0 20px;

    position: absolute;
    right: 500px;
}

.header1{
    position: absolute;
    top: 40px;
    left: 360px;

}

.header2{
    position: absolute;
    top: 40px;
    right: 160px;
}

.form1{
    width: 710px;
    height: 500px;
    background-image: url("/assets/images/contactme_bgimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 2;
    position: absolute;
    top: 114px;
    left: 106px;
}

.form1> p{
    margin-left: 191px;
    font-size: 20px;
    font-weight: bold;
}

.form1> label{
    margin-left: 141px;
    margin-bottom: 10px;
    font-size: 18px;
}

.form1> input{
    margin-left: 141px;
}

.form1 > input:last-child{
    width: 365px;
    background-color: #CB73CD;
}

.form1> textarea{
    margin-left: 141px;
}

.socials{
    position: absolute;
    top: 140px;
    right: 112px;
}

.social3{
    display: inline-block;
    margin-left: 30px;
}

.copyright{
    width: 410px;
    height: 120px;
    position: absolute;
    bottom: 141px;
    right: 31px;
}

.copyright > img{
    width: 19px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 2px;
    left: 3px;
}

.copyright > h6{
    font-size: 20px;
    margin-top: 22px;
    position: absolute;
    left: 18px;
}

.copyright > h5 {
    font-size: 20px;
    font-weight: bolder;
    color: white;
    margin-top: 55px;
}

/*-----------------------------------------desktop size-----------------------------------------------e*/

@media all and (max-width: 1024px) {
    .header1{
        left: 222px;
    }

    .form1 {
        width: 590px;
        height: 391px;
        left: 30px;
    }
    .form1>p {
        font-size: 15px;
    }

    .vertical_rule {
        right: 355px;
    }

    .header2 {
        right: 95px;
    }

    .socials{
        right: 70px;
    }

    .social3{
        margin-left: 10px;
    }

    .copyright{
        width: 285px;
    }

    .copyright >h6 {
        font-size: 15px;
    }

    .copyright >h5 {
        font-size: 14px;
    }

    .form1 > label {
        margin-left: 189px;
    }

    .form1 > input {
        margin-left: 189px;
    }

    .form1 > textarea {
        margin-left: 189px;
        height: 30px;
    }

}

/*-----------------------------------------tablet size-----------------------------------------------e*/
@media all and (max-width: 768px) {
    .vertical_rule{
        right: 253px;
    }

    .header1{
        left: 153px;
    }

    .form1{
        width: 450px;
        left: 19px;
    }

    .form1 > p {
        margin-left: 129px;
    }

    .form1 > label{
        margin-left: 129px;
    }

    .form1 > input {
        margin-left: 129px;
    }

    .form1 > textarea {
        margin-left: 129px;
    }

    .form1 > input:last-child {
        width: 295px;
    }

    .header2{
        right: 39px;
    }

    .socials{
        right: 17px;
    }

    .copyright{
        width: 220px;
    }

    .copyright > img {
        width: 13px;
    }

    .copyright > h6 {
        font-size: 11px;
    }

    .copyright > h5 {
        font-size: 11px;
    }
}

/*-----------------------------------------mobile size-----------------------------------------------e*/
@media all and (max-width: 426px) {

    #contactme_section{
        height: 850px;
    }

    .vertical_rule{
        display: none;
    }

    .header1{
        left: 96px;
    }

    .header2{
        top: 513px;
        left: 134px;
    }

    .form1{
        width: 380px;
    }

    .form1 > input:last-child{
        width: 222px;
    }

    .socials{
        top: 597px;
        right: 91px;
    }

    .copyright{
        width: 273px;
        bottom: 38px;
    }
}

@media all and (max-width: 376px) {

    .header1{
        left: 70px;
    }

    .form1{
        width: 340px;
    }

    .form1 > p {
        margin-left: 58px;
    }

    .form1 > label{
        margin-left: 58px;
    }

    .form1 > input {
        margin-left: 58px;
    }

    .form1 > textarea {
        margin-left: 58px;
    }

    .header2 {
        left: 110px;
    }

    .socials{
        right: 63px;
    }

    .copyright{
        width: 254px;
    }
}

@media all and (max-width: 321px) {

    .form1{
        width: 292px;
        left: 13px;
    }

    .form1 > textarea{
        width: 193px;

    }

    .header1{
        left: 37px;
    }

    .header2{
        left: 77px;
    }

    .socials{
        right: 39px;
    }

    .copyright{
        width: 226px;
    }
}