

body{
    position: relative;
/*    width: 100vw;*/
/*    height: 100vh;*/
}

section>img:first-child{
    position: absolute;
    top: 10px;
    left: 10px;

    z-index: 999;
}

/* footer */
.footer {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #8800C7;

}

.footer > nav {
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    margin: auto;

}

.footer > nav > a {
    position: relative;
    display: flex inline;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    width: 180px;
    height: 50px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    background-color: #561456;
    margin-left: 25px;
    margin-right: 25px;


}

#mob-nav>ul {
    list-style: none;
    margin: 0;
}
#mob-nav>ul>li{
    margin-bottom: 1vh;
}
#mob-nav {
    display: none;
    background-color: lightgray;
    position: absolute;
    width: 27vw;
    height: 20vh;
    top: 11vh;
    left: 65vw;
}
#header>.nav-icon {
    height: fit-content;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.button {
    position: relative;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-image:url("../images/home/icons8-menu-bar-50.png");
    background-position: center;
    border: none;
    background-color: transparent;
    z-index: 1250;
}
#btn-on {
    display: none;
}
#btn-off {
    display: none;
    position: relative;
    left: 87vw;
    top: -14vh;
    width:8vw ;
}


/*-----------------------------------------1401 size-----------------------------------------------*/
@media all and (max-width: 1401px) {
    .footer > nav > a{
        width: 140px;
    }
}

/*-----------------------------------------1280 size-----------------------------------------------*/
@media all and (max-width: 1286px) {
    .footer > nav > a{
        width: 112px;
    }
}
/*-----------------------------------------desktop size(1024)-----------------------------------------------*/

@media all and ( max-width: 1024px) {
    .footer > nav > a{
        width: 136px;
        height: 50px;
        margin-left: 12px;
        margin-right: 12px;

    }

}

/*-----------------------------------------998 size-----------------------------------------------*/
@media all and (max-width: 998px) {
    .footer > nav > a{
        width: 105px;
        height: 42px;
        font-size: 18px;
        margin-left: 15px;
        margin-right: 15px;

    }
}

/*-----------------------------------------831 size-----------------------------------------------*/
@media all and (max-width: 831px) {
    .footer > nav > a{
        margin-left: 9px;
        margin-right: 9px;

    }
}

/*-----------------------------------------tablet size (768)-----------------------------------------------*/
@media all and (max-width: 768px) {
    .footer > nav > a{
        font-size: 14px;
        width: 97px;
        height: 36px;
        margin-left: 18px;
        margin-right: 6px;
    }


}

/*-----------------------------------------748 size-----------------------------------------------*/
@media all and (max-width: 748px) {
    .footer > nav > a{
        margin-left: 1px;
        margin-right: 1px;
    }


}

/*-----------------------------------------618 size-----------------------------------------------*/
@media all and (max-width: 618px) {
    .footer > nav > a{
        font-size: 12px;
        width: 66px;
        margin-left: 1px;
        margin-right: 1px;
    }


}

/*-----------------------------------------mobile size-----------------------------------------------*/

@media all and (max-width: 426px) {
    #mob-nav {
        display: none;
        z-index: 1250;
    }
    .nav1 {
        display: none;
    }
    #btn-on {
        display: block;
        width: 8vw;
        left: 87vw;
        position: relative;
        top: 2vw;
    }
    section>img:first-child{
        display: none;
    }

    .footer{
        display: none;
    }

}

@media all and (max-width: 375px) {
    section>img:first-child{
        display: none;
    }

    .footer{
        display: none;
    }

}

@media all and (max-width: 320px) {
    section>img:first-child{
        display: none;
    }

    .footer{
        display: none;
    }

}