

body{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section>img:first-child{
    position: absolute;
    top: 10px;
    left: 10px;

    z-index: 999;
}

/* footer */
.footer {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #8800C7;

}

.footer > nav {
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    margin: auto;

}

.footer > nav > a {
    position: relative;
    display: flex inline;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    width: 180px;
    height: 50px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    background-color: #561456;
    margin-left: 25px;
    margin-right: 25px;


}

/*-----------------------------------------desktop size-----------------------------------------------e*/

@media all and (max-width: 1024px) {
    .footer > nav > a{
        width: 136px;
        height: 50px;
        margin-left: 12px;
        margin-right: 12px;

    }

}

/*-----------------------------------------tablet size-----------------------------------------------e*/
@media all and (max-width: 768px) {
    .footer > nav > a{
        font-size: 14px;
        width: 97px;
        height: 36px;
        margin-left: 18px;
        margin-right: 6px;
    }


}

/*-----------------------------------------mobile size-----------------------------------------------e*/
@media all and (max-width: 320px) {
    section>img:first-child{
        display: none;
    }

    .footer{
        display: none;
    }

}

